config DRM_VCRTCM_PCON_UDL
	tristate "DisplayLink USB Graphics Adapter PCON"
	depends on DRM_VCRTCM && FB && USB
	select FB_MODE_HELPERS
	help
	 PCON for DisplayLink USB Graphics Adapter.
	 Attaches to a Virtual CRTC and displays rendered
	 pixels on a DisplayLink device. In other words,
	 lets your GPU do the hardware-accelerated
	 rendering and display the output on a DisplayLink
	 monitor.

	 select 'm' or 'n'; 'y' not tested yet
